[submodule "app/webroot/js/bjs"]
	path = app/webroot/js/bjs
	url = git@github.com:/bloomtec/js-bjs
[submodule "app/Plugin/Ez"]
	path = app/Plugin/Ez
	url = git@github.com:/bloomtec/plugin-ez.git
[submodule "app/Plugin/UserControl"]
	path = app/Plugin/UserControl
	url = git@github.com:/bloomtec/plugin-users
