@font-face {
	font-family: 'HelveticaNeueLT LightExt';
	src: url('../fonts/helveticaneuelt_lightext-webfont.eot');
	src: url('../fonts/helveticaneuelt_lightext-webfont.eot?iefix') format('eot'),
	url('../fonts/helveticaneuelt_lightext-webfont.woff') format('woff'),
	url('../fonts/helveticaneuelt_lightext-webfont.ttf') format('truetype'),
	url('../fonts/helveticaneuelt_lightext-webfont.svg#webfonthdbz99XW') format('svg');
	font-weight: normal;
	font-style: normal;
}
pf_tempesta_seven-webfont
@font-face {
	font-family: 'PF Tempesta Seven';
	src: url('../fonts/pf_tempesta_seven-webfont.eot');
	src: url('../fonts/pf_tempesta_seven-webfont.eot?iefix') format('eot'),
	url('../fonts/pf_tempesta_seven-webfont.woff') format('woff'),
	url('../fonts/pf_tempesta_seven-webfont.ttf') format('truetype'),
	url('../fonts/pf_tempesta_seven-webfont.svg#webfonthdbz99XW') format('svg');
	font-weight: normal;
	font-style: normal;
}
p{
	text-align:justify;
	margin:10px 0;
}
body{
	background: url("../img/background.jpg");
	background-color: #1B1B1B;
	background-attachment: fixed;
	font-family:"HelveticaNeueLT LightExt",Helvetica,sans-serif;
	color: white;
	font-weight: normal;
	font-size:14px;
}
h1,h2,h3,h4{
font-weight:normal;
}
h1{
	font-size:21px;
	font-weight:normal;
	margin-bottom: 15px;
}
h2{
	font-size:24px;
	
}
h3{
	font-size:17px;
	color:#E62B7C;
}
.rosa{
	color:#E62B7C;
}
a{
	color:white;
	text-decoration:none;
}

/*ESTILOS DEL LAYOUT*/
#container, 
#header, 
#content{
	margin:0 auto;
}
#container{
	width:960px;
}
#header{
	height: 200px;
	width:100%;
}
#header a{
	text-transform:uppercase;
	text-decoration:none;
}
#header h1.logo , 
#header .left{
	float:left;
	margin-top: 23px;
}
#header h1.logo{
	width:	389px;
}
#header .left{
	width:	571px;
	text-align:right;
}
#header #buscar{
	margin-top:17px;
}
#header #buscar div{
	display:inline;
}

#header h1.logo a {
	display: block;
	width: 389px;
	height: 89px;
	text-indent: -9999px;
	background: url("../img/logo.png") no-repeat;
}
#header .opciones{
	text-transform: uppercase;
	margin-top: 32px;
}
#header .opciones li{
	display:inline;
}
#header .opciones a{
	margin: 0 10px;
}
#header .opciones a:hover{
	text-decoration:underline;
}
#header .opciones a.cart{
	background: url(../img/carrito.png);
	background-repeat: no-repeat;
	padding: 0 0 0 30px;
}
#main-nav{
	background: url(../img/trama-nav.png) repeat-x;
	width: 960px;
	height: 33px;
	float: left;
	margin-top: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
	text-align: center;
	vertical-align:middle;
	line-height:38px;
	
}
#main-nav li{
	display:inline;
	position:relative;
}
#main-nav  a{
	margin: 0 8px;
	font-size: 14px;
}
#main-nav  a:hover{
	color:black;
}
#main-nav #menu-categorias{
	position:absolute;
	left:-159px;
	top:13px;	
	z-index:1;
	display:none;
	
}
#main-nav li:hover #menu-categorias{
	display:block;
}
#menu-categorias .container{
	margin-top:20px;
	width:450px;
	height:150px;
	padding:20px;
	background:#E62B7C;
	text-align:left;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border: solid 2px white;
	border-radius:5px;
}
#menu-categorias .foto-categoria{

	width:150px;
	height:150px;
	float:left;
}
#menu-categorias ul{

}
#menu-categorias ul li{
	position:inherit;
	width:100px;
	text-align:left;
	display:block;
	float:left;
}
#menu-categorias ul img{
	position:absolute;
	left:20px; /*este valor debe ser igual al padding de #menu-categorias  .container*/
	top:40px; /*este valor debe ser igual al padding de #menu-categorias  .container mas el margin-top*/
	display:none;
	
}
#menu-categorias ul li:hover img{
	display:block;
	width:150px;
	height:150px;
	z-index:2;
}
#content{
	min-height:400px;
	width:100%;
	margin:20px 0;
}
#footer{
	color: white;
	font-family: "HelveticaNeueLT LightExt",Helvetica,sans-serif;
	font-size: 12px;
	margin-bottom: 0px;
	width: 100%;
	min-height:100px;
}
#footer h3{
	margin-bottom: 20px;
}
#footer a:hover{
	text-decoration:underline;
}
#footer .wrapper{
	padding-top:32px;
	width:960px;
	margin:0 auto;
}
#footer #info-wrapper{
	padding-bottom:20px;
}
#footer .registrar,
#footer .paginas-inferior,
#footer .menu-fijo,
#footer .favoritos,
#footer .cuenta{
	float:left;
	font-size:14px;
}
#footer .registrar{
	width:52%;
}
#footer .registrar p{
	width: 336px;
	font-size: 13px;
	margin-bottom: 18px;
	text-align:justify;
}
#footer .paginas-inferior{
	width:17%;
	margin-right:1%
}
#footer .menu-fijo{
	width:30%;
}
#footer .cuenta{
	width:39%;
	margin-right:1%
}
#footer #info-wrapper li{
	margin-bottom: 7px;
}
#footer .favoritos{
	width:60%;
	font-size:13px;
	margin-right:0;
	float:right;
}
#footer .input{
	display:inline;
}
#footer .input input{
	border: 1px white solid;
	height: 20px;
	width: 336px;
	background: none;
	margin-top: 3px;
	margin-right: 5px;
	color: white;
}

#footer form#mail{
	margin-top: 20px;
	margin-bottom: 20px;
}
#footer_links{
	text-align:center;
}
#footer_links li{
	display: inline;
	background: url(../img/separador.png) repeat-y left;
	padding-left: 21px;
	padding-right: 20px;
	font-size:13px;
}
#footer h4{
	font-size: 12px;
	color: #E62B7C;
	text-align: center;
	padding:20px 0;
}
#footer .formas-de-pago{
	margin-top:20px;
}
#left-col, 
#right-col{
	float:left;
	min-height:300px;
}
#left-col{
	width:270px;
}
#right-col{
	float: left;
	width: 630px;
	min-height: 347px;
	margin-left: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	padding:20px;
	margin-right:0;
}
.form{
	padding:40px;
}
.black-wrapper{
	background: url("../img/trama-footer.png") repeat;
}

/*FIN ESTILOS DEL LAYOUT*/


/*FORMULARIOS*/
 input.layout{
	height: 20px;
	width: 185px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top: 3px;
	margin-right: 5px;
}

input{
	border: medium none;
}
.form .input,
.form .email,
.form .text,
.form .password{
	float:left;
	width:45%;
	margin-bottom: 10px;
}
.form label{
	display:block;
	margin-bottom: 10px;
}
.form input, .form select, .form textarea{
	display:block;
	border: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius: 3px;
	width: 340px;
	margin-bottom: 10px;
	height: 30px;
	padding: 2px 5px;
}
.form textarea{
	height:100px;
}

input.invalid{
	border: solid red 1px;
	color: red;
}
.error, .message{
	color:#e6db30;
	font-size:12px;
	font-family:arial;
	margin:0;
}
.message{
	margin-bottom:5px;
	font-size:15px;
}
.error p{
	display:inline;
}
.submit input, .button{
background: url("../img/trama.png") repeat-x;
font-family:"HelveticaNeueLT LightExt",Helvetica,sans-serif;
color: white;
font-weight: normal;
font-size: 13px;
width: 80px;
height: 28px;
text-align:center;
line-height: 28px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
.submit {
	display:inline;
}
.submit input:hover, .button:hover,.big-button:hover{
	color:black;
}
.submit input.big-button,.big-button{
	font-size:18px;
	width: 180px;
	height: 50px;
	font-family:"HelveticaNeueLT LightExt",Helvetica,sans-serif;
	background: url("../img/trama-contacto.png") repeat-x;
}
.cuadro-formularios{
	border: solid 1px;
	padding: 5px;
	width: 340px;
	height:28px;
}
.cuadro-formularios a{
	float:left;
}
.cuadro-formularios a.rosa{
	margin-top:8px;
}
.cuadro-formularios .submit,
.cuadro-formularios .button{
	float:right;
}
.form #contacto  .input{
	float:left;
	width:30%;
	margin:0;
	margin-right:4.5%;
}
.form #contacto  .input.last{
	margin-right:0;
}
.form #contacto  .input.textarea{
	width:100%;
	
	margin:auto 0;
	margin-top:15px;
	clear:both;
}
.form #contacto textarea{
	width:100%;
	margin:0;
	padding:0;
	margin-bottom:15px;
}
.form #contacto   .input label, .form #contacto   .input input{
	display:block;
	text-align:left;
	width:100%;
	
}
 .form #contacto   .input input{
margin: auto 0;
}
/*FIN FORMULARIOS*/
/*REGISTRO*/
.caltrigger {
background: url("../img/calendar.png") no-repeat scroll 0 0 
transparent;
border-radius: 3px 3px 3px 3px;
display: block;
float: left;
height: 48px;
margin-top: -8px;
width: 48px;
margin-left: 10px;
}
.form.registro select{
	width:100%;
	height:34px;
}
.form.registro fieldset{
	float: left;
	margin-bottom:10px;

}
.form.registro .sexo{
	float:left;
	width:10%;
}
.form.registro .calendario{
	float:left;
	width:28%;
	margin-left:15px;
}
.form.registro .calendario input{
	width:70%;
	float:left;
}
.form.registro fieldset input{
	float: left;
	margin: 0;
	width:25px;
	height:20px;
	
}
.form.registro fieldset label{
	float: left;
	margin: 0 10px;
	height:20px;
	line-height:20px;
	vertical-align:middle;
	font-size:13px;
}
.form.registro legend{
	font-size: 14px;
	margin-bottom: 10px;
}
.form.registro .submit{
	float:left;
	margin-top:99px;
	margin-left:40px;
}
.captcha{
	float:left;
	margin:20px 0 0 33px;

}
.recaptchatable #recaptcha_response_field {
	height:20px;
}

/*fin registro*/
/*login*/
.login .captcha{
	margin: 10px 0;
}
.form .izquierda,
.form .derecha{
	float: left;
	width: 48%;
	position: relative;
	min-height: 264px;
}
.form .izquierda{
	margin-right:4%;
}
.login h2{
	font-size:21px;
}
.login  .izquierda p{
	margin-bottom:135px;
}
/*PROFILE*/
#profile-menu{
	text-align:right;
}
#profile-menu li{
	display: inline;
	border-top: solid 1px #E62B7C;
	border-bottom: solid 1px #E62B7C;
	padding:5px;
}
#profile-menu a{
	color:#E62B7C;
}
#profile-menu li:hover,
.profile #profile-menu  li.profile,
.edit #profile-menu   li.edit,
.addresses #profile-menu   li.addresses,
.orders  #profile-menu  li.orders{
	border-color:white;
}
#profile-menu li:hover a,
.profile #profile-menu  li.profile a,
.edit #profile-menu   li.edit a,
.addresses #profile-menu   li.addresses a,
.orders  #profile-menu  li.orders a{
	color:white;
}

#right-col .content{
	margin-top:20px;
}
#right-col .content h3{
	margin-top:10px;
}
.address{
	float:left;
	width:135px;
	margin:5px;
	border: solid #E62B7C 1px;
	padding:5px;
}
.address a{
	float:right;
	margin-right:2px;
}
#profile .input input, 
#profile select,
#profile .password input{
	width:240px;
}
#profile .input , #profile .password{
	width:50%;
}
/*END PROFILE*/
/*PAGES*/
.caja-producto-lateral{
	border: 1px solid white;
}
.caja-producto-lateral .titulo {
	background: url("../img/trama-encuesta.png") repeat-x;
	text-align: center;
	height: 60px;
	margin-bottom: 15px;
}
.caja-producto-lateral .titulo h1 {
	line-height: 60px;
	color: white;
}
.caja-producto-lateral .button{
	display:block;
	margin: 20px auto;
}
#promocion {
	color: white;
	float: left;
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}
#promocion p {
	font-size: 16px;
	margin: 5px 0;
	text-align:center;
}
#promocion p.precio {
	font-weight: bold;
}
.banner{
	margin-bottom:15px;
	-webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
}
/**END PAGES/
/*CATALOG*/
.cat-description{
	padding:5px;
	border: solid 1px white;
	margin-bottom:20px;
	height:100px;
}
.cat-description h3{
	text-transform:uppercase;
}
.catalogo-productos li{
	display: block;
	float: left;
	width: 200px;
	color: white;
	text-align: center;
	margin-bottom: 15px;
	margin-right:25px;
}
.catalogo-productos li.last{
	margin-right:0;
}
.catalogo-productos img{
	-moz-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
}
.catalogo-productos a{
	display:block;
	font-size: 16px;
	margin-top:10px;
	margin-bottom:5px;
}
.catalogo-productos a:hover{
	color:#E62B7C;
}
.catalogo-productos span.price{
	font-size: 16px;
	font-weight:bold;
}
/*END CATALOG*/